*::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
  }
.navbar-nav li {
    padding-right: 10px;
}
.navbar-nav li a {
    font-weight: 500;
    color: black !important;
}
.navbar-nav li a:hover {
    color: #379e8b !important;
}
.btn {
    background: #f68d19 !important;
    border: none;
    color: white !important;
    font-weight: 500 !important;
}
.btn:hover {
    background: #379e8b !important;
    box-shadow: 3px 3px 10px #f23842;
}
@media only screen and (max-width: 980px){
    .navbar-nav li{
        margin-left: 7%;
    }
}
/* _______home-section_________ */
.btn1 {
    background: #f23842 !important;
    border: none;
    color: white !important;
    font-weight: 500 !important;
    margin-right: 10px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}
.btn1:hover {
    background: #f68d19 !important;
    box-shadow: 5px 5px 10px #24463f;
}
.casehome {
    margin: 7rem 0;
}
.casehome1 {
    background: linear-gradient(to right, #347e70, #379e8b, #19d4b2);
    width: 90%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #24463f;
}
.para {
    color: white;
}
#casehome-img {
    width: 80%;
}
/* ===about_section=== */
.caseabout11 {
    display: flex;
}
.caseabout2 {
    border: 2px solid #379e8b;
    width: 90%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #24463f;
}
/* ==cours_section== */
.casecours1 p {
    border-radius: 10%;
    width: 90%;
    padding: 10%;
}
/* =========diplome_section======= */
.casediplome, .casenosactivite {
    background-color: #f23842;
}
/* ========fin_nos_activite_section========== */
/* ===nos_partenaire_section=== */
.nospartenaire {
    background-color: rgb(244, 249, 255);
}
.nospartenaire img {
    border-radius: 20px;
    box-shadow: 5px 5px 10px #24463f;
}
/* ===fi_nos_partenaire_section=== */
/* footer_section */
.casefooter {
    background-color: #379e8b;
}
/* fin_footer_section */